/*-- cart-css --*/
#staplesbmincart form {
  position: relative;
  padding: 1em;
  background: #fbfbfb;
  border-radius: 0;
  color: #232020;
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.sbmincart-suc-cart-text {
  float: left;
  color: #232020;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

#staplesbmincart form ul {
  overflow-y: scroll;
  max-height: 300px;
  border-radius: 6px;
}

#staplesbmincart {
  display: none;
  position: fixed;
  right: 2%;
  top: 16%;
  width: 420px;
}

.sbmincart-showing #staplesbmincart {
  display: block;
  z-index: 9999;
  -webkit-animation: zoomIn 0.3s ease;
  animation: zoomIn 0.3s ease;
}

#staplesbmincart form.sbmincart-empty {
  font-size: 16px;
  font-weight: bold;
}

#staplesbmincart ul {
  clear: both;
  float: left;
  width: 100%;
  margin: 5px 0 20px;
  padding: 1em;
  list-style-type: none;
  background: #f5f0f0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

#staplesbmincart .sbmincart-empty ul {
  display: none;
}

#staplesbmincart .sbmincart-closer {
  float: right;
  margin: -8px -10px 0;
  padding: 0 10px;
  background: 0;
  border: 0;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

#staplesbmincart .sbmincart-closer:hover {
  opacity: 0.8;
}

#staplesbmincart .sbmincart-item {
  clear: left;
  display: grid;
  align-items: center;
  grid-template-columns: 8fr 1fr 1fr 3fr;
  grid-gap: 10px;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

#staplesbmincart .sbmincart-item + .sbmincart-item {
  border-top: 1px solid #f2f2f2;
}

#staplesbmincart .sbmincart-item a {
  color: #212529;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.sbmincart-details-quantity {
  display: grid;
  align-items: center;
}

#staplesbmincart .sbmincart-details-remove {
  text-align: center;
}

#staplesbmincart .sbmincart-details-price {
  text-align: center;
  font-size: 15px;
  color: #232020;
  font-weight: 600;
}

#staplesbmincart .sbmincart-attributes {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #999;
  font-size: 12px;
  line-height: 22px;
  overflow: inherit;
  height: inherit;
}

#staplesbmincart .sbmincart-attributes li {
  display: inline;
}

#staplesbmincart .sbmincart-attributes li:after {
  content: ",";
}

#staplesbmincart .sbmincart-attributes li:last-child:after {
  content: "";
}

#staplesbmincart .sbmincart-quantity {
  width: 30px;
  height: 20px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 12px;
  text-align: right;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}

#staplesbmincart .sbmincart-quantity:hover {
  border-color: #ff7315;
}

#staplesbmincart .sbmincart-quantity:focus {
  border-color: #ff7315;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 3px rgba(0, 120, 193, 0.4);
}

#staplesbmincart .sbmincart-remove {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background: #ff7315;
  border: 1px solid #ff7315;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  opacity: 0.7;
  cursor: pointer;
  line-height: 14px;
  display: inline-block;
}

#staplesbmincart .sbmincart-remove:hover {
  opacity: 1;
}

#staplesbmincart .sbmincart-footer {
  clear: left;
  text-align: center;
  margin-right: 0;
  position: relative;
}

p.sbmincart-empty-text {
  color: #f44336;
  font-weight: 500;
}

#staplesbmincart .sbmincart-subtotal {
  bottom: 3px;
  padding-left: 0;
  font-size: 15px;
  font-weight: bold;
  display: block;
  text-align: left;
}

#staplesbmincart .sbmincart-submit {
  margin-right: 0px;
  padding: 0;
  border: none;
  color: #ff7315;
  background: none;
  outline: none;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  text-transform: uppercase;
  right: 0;
  top: 0;
  cursor: pointer;
}

#staplesbmincart .sbmincart-submit:hover {
  opacity: 0.8;
}

/* Let's get this party started */
#staplesbmincart form ul::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#staplesbmincart form ul::-webkit-scrollbar-track {
  -o-box-shadow: inset 0 0 6px #999;
  -ms-box-shadow: inset 0 0 6px #999;
  box-shadow: inset 0 0 6px #999;
  border-radius: 10px;
}

/* Handle */
#staplesbmincart form ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3c43a4;
  -o-box-shadow: inset 0 0 6px #3c43a4;
  -ms-box-shadow: inset 0 0 6px #3c43a4;
  box-shadow: inset 0 0 6px #3c43a4;
}

/*-- //cart-css --*/

@media (max-width: 375px) {
  #staplesbmincart {
    width: 266px;
  }
}

@media (max-width: 384px) {
  #staplesbmincart {
    width: 266px;
  }
}

@media (max-width: 414px) {
  #staplesbmincart {
    width: 260px;
  }
}

@media (max-width: 480px) {
  #staplesbmincart {
    width: 294px;
  }
}

@media (max-width: 600px) {
  #staplesbmincart {
    width: 260px;
  }
}

@media (max-width: 640px) {
  #staplesbmincart .sbmincart-subtotal {
    bottom: 3px;
    font-size: 13px;
  }

  #staplesbmincart {
    width: 260px;
  }

  #staplesbmincart form {
    position: relative;
    padding: 1em 0.5em;
  }

  #staplesbmincart .sbmincart-item {
    clear: left;
    display: grid;
    align-items: center;
    grid-template-columns: 8fr 1fr 1fr;
    grid-gap: 10px;
  }

  #staplesbmincart .sbmincart-details-price {
    text-align: left;
  }
}

@media (max-width: 767px) {
  #staplesbmincart {
    width: 289px;
  }
}

@media (max-width: 800px) {
  #staplesbmincart {
    width: 343px;
  }
}

@media (max-width: 992px) {
  #staplesbmincart {
    width: 420px;
  }
}

@media (max-width: 1080px) {
  #staplesbmincart {
    width: 420px;
  }
}

@media (max-width: 1280px) {
  #staplesbmincart {
    width: 420px;
  }
}