* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

/* Loading  */
#loading {
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}
/* Loading  */
.container {
    max-width: 1199px;
}

header {
    position: relative;
}

.header__content {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9;
}

.header__right {
    padding: 15px 15px 0 15px;
    align-items: center;
}

header .header__right ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}


header .header__right ul li {
    margin-left: 1rem;
    list-style: none;
    color: #fff;
}

header .header__right ul li.btn__login a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.141);
    color: #fff;
    transition: 0.3s ease;
}

header .header__right .btn-open::after {
    transition: all .2s linear 0s;
    color: #333;
}

header .header__right ul li.btn__login a:hover {
    background: #ff7315;
}

header .header__right ul li.btn__login a.btn-open span {
    font-size: 20px;
    line-height: 34px;
}

header .header__right ul li.cart {
    margin-top: -2px;
}

header .header__right ul .top_transmitv_cart {
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 6px 20px;
    border-radius: 25px;
    color: #fff;
    background: rgba(255, 255, 255, 0.141);
    transition: all .5s;
}

.header__right ul .top_transmitv_cart span {
    font-size: 1.1rem;
}

header .header__right ul .top_transmitv_cart:hover{
    background: #ff7315;
}
@media (min-width: 992px) {
    header .header__right ul {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* carousel  */
.carousel {
    width: 100%;
}

.carousel__content {
    background: url(../img/7052.jpg) no-repeat center;
    width: 100%;
    min-height: 55em;
    z-index: 1;
}

.item__content {
    position: relative;
}

.product__item .item__image {
    position: relative;
    overflow: hidden;
}

.product__item .item__image a {
    display: block;
    text-decoration: none;
    background-color: transparent;
    color: #232222;
}

.item__content .item__image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 6px;
    vertical-align: middle;
}

.item__content .item__image .pic-1 {
    opacity: 1;
    transition: all .5s;
}

.item__content:hover .item__image .pic-1 {
    opacity: 0;
}

.item__content .item__image .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000057;
    transition: all .5s;
}

.item__content:hover .item__image .pic-2 {
    opacity: 1;
}

.item__content .item__image .social {
    position: absolute;
    bottom: 50px;
    right: 25px;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.item__content .item__image .social li {
    display: block;
    margin: 0 0 10px;
    transform: translateX(100px);
    transition: all .5s;
}

.item__content:hover .item__image .social li {
    transform: translateX(0);
}

.item__content:hover .item__image .social li:nth-child(2) {
    transition-delay: .15s;
}

.item__content:hover .item__image .social li:nth-child(3) {
    transition-delay: .25s;
}

.item__content .item__image .social li a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.1rem;
    border-radius: 50%;
    text-align: center;
    color: #232020;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: all .3s ease 0s;
}

.item__content .item__image .social li a:hover {
    color: #fff;
    background-color: #ff7315;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.item__content .item__image .social li a::before,
.item__content .item__image .social li a::after  {
    content: attr(data-tip);
    position: absolute;
    left: 50%;
    top: -30px;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    opacity: 0;
    white-space: nowrap;
    transform: translateX(-50%);
    color: #fff;
    background-color: #232020;
}

.item__content .item__image .social li a::after {
    content: '';
    height: 15px;
    width: 15px;
    top: -22px;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 0;
    z-index: -1;
}

.item__image .social li a:hover::before, 
.item__image .social li a:hover::after {
    background-color: #ff7315;
}

.item__content .transmitv .add-to-cart {
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 10px;
    color: #fff;
    background-color: #232020;
    transition: all .3s;
}

.item__content .transmitv .add-to-cart:hover {
    text-decoration: none;
    background-color: #ff7315;
}

.item__content:hover .transmitv .add-to-cart {
    bottom: 0;
}

.item__content .item__price {
    padding: 20px 10px;
    text-align: center;
}

.item__content .item__price h3.title {
    font-size: 18px;
    margin: 0 0 6px 0;
    color: #ff7315;
}

.item__content .item__price h3.title a{
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.item__content .item__price span.price {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: gainsboro;
}

.item__content .item__price del {
    font-weight: 400;
    margin-right: 6px;
    color: gray;
}

.item__content .item__price .text_price {
    color: gainsboro;
}
/* carousel  */


/* minicart  */
#staplesbmincart{
    padding: 1em;
    background: #fbfbfb;
    border-radius: 0;
    color: #232020;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: none;
    margin-top: 0em;
    z-index: 11;
}

.sbmincart-suc-cart-text {
    float: left;
    color: #232020;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
p.sbmincart-empty-text {
    color: #f44336;
    font-weight: 500;
}

/* minicart  */