* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

header {
  display: block;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

/* Loading  */
#loading {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}
/* Loading  */

/* invalid */
.isvalid {
  color: rgb(224, 103, 103);
  font-weight: 400;
  font-size: 14px;
}
